* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 .Body{
    background-color: rgb(204, 202, 202);
    height: 200vh;
  }
  .title{
        text-align: center;
        font-size: 59px;
        color: #620089e3;
        text-decoration: wavy;
        text-transform: uppercase;
        margin-bottom: 50px;
    
    }
  
.cards {
    display: flex;
    align-items: center;
    justify-content:space-around;
    justify-items: baseline;
    margin-bottom: 50px;
   
}
p {
    color: black;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0rem;
}
.P1{
    border: solid;
    border-radius: 11px;
    border-color: rgb(7, 21, 82);
    align-items: center;

}
.P2{
    border: solid;
    border-color:rgb(7, 21, 82);
    align-items: center;
    border-radius: 11px;
    justify-content: center ;
}
.P3{
    align-items: center;
    border: solid;
    border-color: rgb(7, 21, 82);
    border-radius: 11px;
}

.Btn{
    padding: 0px 10px;
     margin-left: 100px;
}
